In [1]:
%load_ext sql
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import zipfile
import pandas as pd
import geopandas
import sqlalchemy
import sqlalchemy.sql
from shapely.geometry import Point, Polygon

In [3]:
username = "root"
passwd = "root"
host = "35.225.11.251"
dbname = "finalprojectdb"

In [4]:
db_string = "mysql://{0}:{1}@{2}/{3}".format(
    username, passwd, host, dbname
)
print("Connection string is", db_string)

Connection string is mysql://root:root@35.225.11.251/finalprojectdb

In [5]:
try:
    engine = sqlalchemy.create_engine( db_string );
    conn = engine.connect()
except Exception as exp:
    print("Create engine failed:", exp)

In [6]:
##read in data, the weather data was available per year so there are 5 initial files, one for each election year

voter_data =  pd.read_csv("countypres_2000-2016.csv")
state_capitals = pd.read_csv("us-capitals.csv")
lib_2000 = pd.read_csv("libraries_2000.csv")
lib_2004 = pd.read_csv("libraries_2004.csv")
lib_2008 = pd.read_csv("libraries_2008.csv")
lib_2012 = pd.read_csv("libraries_2012.csv")
lib_2016 = pd.read_csv("libraries_2016.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
voter_data.fillna(0, inplace=True)
voter_data.head(2)

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203

In [8]:
voter_data.fillna(0, inplace = True)
state_capitals.head(2)

   id abbrev    state     capital  latitude   longitude  population
0   1     AL  Alabama  Montgomery  32.38012  -86.300629      205764
1   2     AK   Alaska      Juneau  58.29974 -134.406794       31275

In [9]:
#combine the separate library data frames into one single dataframe
#years 2000 and 2004 have slightly different columns, so i'm going to standardize them all
#also add years column for differentiation later

libs_2000 = lib_2000[['STABR', 'LIBID', 'LIBNAME', 'CITY', 'CNTY']]
libs_2000['YEAR'] = 2000
libs_2004 = lib_2004[['STABR', 'LIBID', 'LIBNAME', 'CITY', 'CNTY']]
libs_2004['YEAR'] = 2004
libs_2008 = lib_2008[['STABR', 'LIBID', 'LIBNAME', 'CITY', 'CNTY']]
libs_2008['YEAR'] = 2008
libs_2012 = lib_2012[['STABR', 'LIBID', 'LIBNAME', 'CITY', 'CNTY']]
libs_2012['YEAR'] = 2012
libs_2016 = lib_2016[['STABR', 'LIBID', 'LIBNAME', 'CITY', 'CNTY']]
libs_2016['YEAR'] = 2016

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
#concatenate all lib data
libs = [libs_2000, libs_2004, libs_2008, libs_2012, libs_2016]
libs_all = pd.concat(libs)
libs_all.fillna(0, inplace = True)

In [11]:
conn.execute('''
DROP TABLE IF EXISTS voter_data;
CREATE TABLE voter_data(
    year integer NOT NULL,
    state varchar(24) NOT NULL,
    state_po varchar(4) NOT NULL,
    county varchar(36 ) NOT NULL,
    fips numeric NOT NULL,
    office varchar(24) NOT NULL,
    candidate varchar(36) NOT NULL,
    party varchar(24) NOT NULL,
    candidatevotes integer NOT NULL,
    totalvotes integer NOT NULL,
    version integer NOT NULL
)
''')

In [12]:
# Create tables
conn.execute('''
DROP TABLE IF EXISTS state_capitals;
CREATE TABLE state_capitals(
    abbrev varchar(4) NOT NULL,
    state varchar(36) NOT NULL,
    capital varchar(36) NOT NULL,
    latitude numeric(24) NOT NULL,
    longitude numeric(24) NOT NULL,
    population integer NOT NULL
)
''')

In [13]:
# Create tables
conn.execute('''
DROP TABLE IF EXISTS lib_data;
CREATE TABLE lib_data(
    stabr varchar(2) NOT NULL,
    libid varchar(24) NOT NULL,
    libname varchar(72) NOT NULL,
    city varchar(36) NOT NULL,
    cnty varchar(36) NOT NULL,
    year integer NOT NULL
    
)
''')

In [14]:
# Load data
voter_dict = voter_data.to_dict('records')

for row in voter_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO voter_data(year, state, state_po, county, fips, office, candidate, party, candidatevotes, totalvotes, version)\
    VALUES ( :year, :state, :state_po, :county, :FIPS, :office, :candidate, :party, :candidatevotes, :totalvotes, :version) ''' )
    conn.execute(cmd, row)

In [15]:
# Load data
capital_dict = state_capitals.to_dict('records')

for row in capital_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO state_capitals(abbrev, state, capital, latitude, longitude, population)\
    VALUES ( :abbrev, :state, :capital, :latitude, :longitude, :population) ''' )
    conn.execute(cmd, row)

In [16]:
# Load data
lib_dict = libs_all.to_dict('records')

for row in lib_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO lib_data(stabr, libid, libname, city, cnty, year)\
    VALUES ( :STABR, :LIBID, :LIBNAME, :CITY, :CNTY, :YEAR) ''' )
    conn.execute(cmd, row)

In [17]:
conn.execute("SHOW TABLES;").fetchall()

[('lib_data',),
 ('state_capitals',),
 ('voter_data',),
 ('weather_data',),
 ('weather_stations',)]